<%# locals: (facility_data:, space:) %>
<li>
  <%= render partial: 'facility_reviews/facility_with_edit_button',
             locals: {
               facility:  facility_data[:facility],
               space_facility: facility_data[:space_facility],
               facility_category: facility_data[:facility_category],
            }
   %>
</li>
