<li
  class="flex items-center gap-1.5"
  title="<%= tooltip %>">
  <%= title %>
  <span>
    <%= inline_svg_tag "facility_status/#{review}" %>
  </span>
</li>
<% unless description.nil? %>
  <ul class="pl-8 list-disc text-gray-400">
    <li><%= description %></li>
  </ul>
<% end %>
