<h3 class="font-bold mb-2">
  <%= group.second[:category].title %>
</h3>

<ul class="grid gap-1 md:col-span-2">
  <% group.second[:space_facilities].each do |facility_data| %>
    <%= render partial: 'spaces/show/facility_item', locals: {
      space: @space,
      facility_data:
    } %>
  <% end %>
</ul>
