<li
  class="flex items-center gap-1.5"
  title="<%= tooltip %>">
  <%= inline_svg_tag "facilities/#{icon}" %>
  <%= title %>
  <span>
    <%= inline_svg_tag "facility_status/#{review}" %>
  </span>
</li>