<%= inline_editable :how_to_book  do %>
  <%= @space.how_to_book %>

  <% if  @space.space_group.how_to_book.present? and @space.how_to_book.present? %>
    <h3><%= t('space_show.common_to_all_in_group', group: @space.space_group.title) %></h3>
  <% end %>

  <%= @space.space_group.how_to_book %>

<% end %>
