<div class="relative">
    <% if images.empty? %>
      <%= render partial: 'spaces/show/image_missing' %>
    <% else %>
      <%= render partial: 'shared/image_slider', locals: {
        images: images,
        show_caption_credits: true
      } %>
      <div class="absolute right-2 top-2">
        <div>
          <%= render partial: 'spaces/show/image_header_upload_button' %>
        </div>
      </div>
      <div class="absolute right-2 top-14">
        <div>
          <%= render partial: 'spaces/show/image_header_edit_button' %>
        </div>
    <% end %>
  </div>
</div>
