<%= render 'spaces/show/common/image_upload_button' do %>
  <div class="edit-button collapsable">
    <span class="text"><%= t('images.upload_image') %></span>
    <%= inline_svg_tag 'camera', class: "text-gray-700", alt: t('images.upload'), title: t('images.upload') %>
  </div>
<% end %>
