<div class="relative pb-1/2 w-full inline-block">
  <div class="bg-gray-200 rounded-md absolute text-slate-600  h-full w-full flex flex-col gap-4 items-center justify-center">
    <%= render 'spaces/show/common/image_upload_button' do %>
        <div class="edit-button shadow-md">
          <%= inline_svg_tag 'camera', class: "inline-block w-7 h-7", alt: t('images.upload'), title:  t('images.upload') %>
          <%= t('images.upload_image') %>
        </div>
    <% end %>
  </div>
</div>
