<div class="relative">
    <% if images.empty? %>
      <%= render partial: 'spaces/show/image_missing' %>
    <% else %>
      <%= render partial: 'shared/image_slider', locals: {
        images: images
      } %>
      <%= render partial: 'spaces/show/image_header_upload_button' %>
    <% end %>
  </div>
