<p class="mb-3"><strong><%= t('reviews.no_reviews') %></strong> <%= t('reviews.in_contact') %></p>
<p class="mb-3">
  <%= render partial: 'spaces/show/review_link_to_new_review', locals: {
    space: @space
  } %>
</p>