<p><strong>Ingen erfaringer loggført.</strong> Har du vært i kontakt med dem?</p>
<p>
  <%= link_to 'Legg til den første!', new_review_path, class: 'inline-block border border-pink-600 py-2 px-4 rounded-md' %>
</p>
