<h2>Erfaringer</h2>

<button>Legg til erfaring</button>

<ul class="horizontal-cards">
  <li class="horizontal-card">
    <%= render partial: 'spaces/show/review_none_yet' if @space.reviews.any? %>
  </li>
  <% @space.reviews.each do |review| %>
    <li class="horizontal-card">
      <%= render partial: 'spaces/show/review_card', locals: {review: review}  %>
    </li>
  <% end %>
</ul>
