<%= turbo_frame_tag "new_space_contact_button" do %>
  <div data-controller="hidden">
    <button
      id="space_contacts_new"
      type="button"
      data-action="click->hidden#toggle"
      class="edit-button collapsable">
      <span class="text">
        <%= t('space_contacts.new') %>
      </span>
      <%= inline_svg_tag "plus" %>
    </button>
    <div data-hidden-target="toggleableElement" class="hidden">
      <%= render partial: "space_contacts/new" %>
    </div>
  </div>
<% end %>
