<main class="content max-w-prose mx-auto w-screen">
  <h1><%= t('facility_reviews.edit') %></h1>
  <%= render 'form',
             space_facility: @space_facility,
             facility_review:  @facility_review,
             facility_category: @category
  %>
</main>
