<%# locals: (header:, append_css_classes: "") %>
<section class="bg-white p-6 rounded-lg shadow-2xl <%= append_css_classes %>">
  <h2 class="text-lnu-blue font-bold mb-4 text-center">
    <%= header %>
  </h2>
  <%= yield %>
</section>