<main class="content max-w-prose mx-auto w-screen">

    <h1>Admin-verktøy:</h1>
    <p><%= link_to t('admin.space_type'), admin_space_types_path %></p>
    <p><%= link_to t('admin.history'), admin_history_index_path %></p>

</main>
