<div>
  <%= form.association :space_group,
                       value_method: :id,
                       label_method: :title,
                       selected: @space&.space_group&.id,
                       include_blank: t('space_group.no_other_spaces')
  %>
</div>
