<%= render partial: 'spaces/edit/common/edit_rich_text', locals: {
  form: form,
  field: :terms_and_pricing
} %>
<div class="text-gray-600 text-sm mt-4">
<p>For eksempel:</p>
<ul class="list-disc list-inside">
  <li>Hva slags organisasjoner og folk får bruke lokalet?</li>
  <li>Koster det noe?</li>
  <li>Er det andre vilkår, som brannforskrifter?</li>
</ul>
</div>
