<div data-controller="autofilladdress">
  <%= form.input :address, input_html: { "data-autofilladdress-target": "address" } %>
  <%= form.input :post_number, input_html: { "data-autofilladdress-target": "postNumber" } %>
  <%= form.input :post_address, input_html: { "data-autofilladdress-target": "postAddress" } %>

  <div data-autofilladdress-target="mapHolder">
    <%= render partial: "spaces/show/static_map" %>
  </div>
</div>
