<div data-controller="autofilladdress">
  <%= form.input :address, input_html: { "data-autofilladdress-target": "address" } %>
  <%= form.input :post_number, input_html: { "data-autofilladdress-target": "postNumber" } %>
  <%= form.input :post_address, input_html: { "data-autofilladdress-target": "postAddress" } %>

  <div data-autofilladdress-target="mapHolder">
    <%= static_map_of @space, class: "block my-3 object-none", alt: "" %>
  </div>
</div>
