
<% changeset.each do |key, value| %>
  <% next if key == "updated_at" %>

  <% if value[0].nil? %>
      <p><%= Space.human_attribute_name(key) %>: <%= value[1] %>
  <% else %>
    <div>
      <strong><%= Space.human_attribute_name(key) %>:</strong>
      <%= sanitize Diffy::Diff.new(value[1].to_s, value[0].to_s).to_s(:html) %>
    </div>
  <% end %>
<% end %>
