---
http_interactions:
- request:
    method: get
    uri: https://data-nsr.udir.no/v4/enhet/995922770
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 3.0, 4.0
    body:
      encoding: UTF-8
      string: '{"Organisasjonsnummer":"995922770","Navn":"Aalesund International School
        Sti","Karakteristikk":null,"FulltNavn":"Aalesund International School Sti","Fylke":{"Fylkesnummer":"15","Navn":"M\u00F8re
        og Romsdal","Organisasjonsnummer":"944183779","StatsforvalterOrganisasjonsnummer":"974764067"},"Kommune":{"Navn":"\u00C5lesund","Kommunenummer":"1508","Organisasjonsnummer":"929911709","ErNedlagt":false,"Fylkesnummer":"15","Kostragruppe":{"Id":11,"Navn":"KOSTRA-gruppe
        11"}},"Beliggenhetsadresse":{"Adresse":"Borgundvegen 418","Postnummer":"6015","Poststed":"\u00C5LESUND","Land":"Norge"},"Postadresse":{"Adresse":"Postboks
        6504 Hatlane","Postnummer":"6024","Poststed":"\u00C5LESUND","Land":"Norge"},"Koordinat":{"Lengdegrad":6.25108,"Breddegrad":62.46557,"Zoom":12,"GeoKilde":"GeoNorge"},"Internettadresse":"www.aais.no","Maalform":{"Id":"B","Navn":"Bokm\u00E5l"},"Organisasjonsform":{"Id":"BEDR","Navn":"Underenhet
        til n\u00E6ringsdrivende og offentlig sektor"},"Naeringskoder":[{"Prioritet":1,"Kode":"85.201","Navn":"Ordin\u00E6r
        grunnskoleundervisning","Versjon":"2007"}],"Hjelpeenhetskode":null,"Utgaattype":{"Id":"A","Navn":"Ingen
        utg\u00E5ttype"},"UtgaattDato":null,"ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":true,"ErPrivatskole":true,"ErOffentligSkole":false,"ErVideregaaendeSkole":false,"ErSpesialskole":false,"ErGrunnopplaering":true,"PrivatskoleGodkjenning":{"Godkjenningslov":"privatskoleloven","GodkjentStatus":"Drift","GodkjentStatusTekst":"Drift","ErAktiv":true},"Elevtall":125,"AntallAnsatte":30,"SkoletrinnGSFra":1,"SkoletrinnGSTil":10,"SkoletrinnVGSFra":null,"SkoletrinnVGSTil":null,"Skolekategorier":[{"Id":"1","Navn":"Grunnskole"},{"Id":"4","Navn":"Privat
        eiet"},{"Id":"16","Navn":"Godkjent privatskole"},{"Id":"32","Navn":"Grunnoppl\u00E6ring"}],"ForeldreRelasjoner":[{"Enhet":{"Organisasjonsnummer":"995614251","Navn":"Aalesund
        International School Sti"},"Relasjonstype":{"Id":"1","Navn":"Eierstruktur"}},{"Enhet":{"Organisasjonsnummer":"995614251","Navn":"Aalesund
        International School Sti"},"Relasjonstype":{"Id":"4","Navn":"Tilknytningsstruktur"}},{"Enhet":{"Organisasjonsnummer":"974764067","Navn":"Statsforvaltaren
        i M\u00F8re og Romsdal"},"Relasjonstype":{"Id":"5","Navn":"Administrativ struktur"}},{"Enhet":{"Organisasjonsnummer":"970018131","Navn":"Utdanningsdirektoratet"},"Relasjonstype":{"Id":"2","Navn":"Tilsynsstruktur"}}],"BarnRelasjoner":[],"OppstartsEllerStiftelsesdato":"2010-08-01T00:00:00+02:00","DatoEndret":"2025-03-23T01:15:53.487+01:00"}'
  recorded_at: Mon, 07 Apr 2025 12:29:55 GMT
[...]
