---
http_interactions:
- request:
    method: get
    uri: https://data-nsr.udir.no/v4/enhet/975283046
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 3.0, 4.0
    body:
      encoding: UTF-8
      string: '{"Organisasjonsnummer":"975283046","Navn":"Abel skole","Karakteristikk":null,"FulltNavn":"Abel
        skole","Fylke":{"Fylkesnummer":"42","Navn":"Agder","Organisasjonsnummer":"921707134","StatsforvalterOrganisasjonsnummer":"974762994"},"Kommune":{"Navn":"Gjerstad","Kommunenummer":"4211","Organisasjonsnummer":"964964998","ErNedlagt":false,"Fylkesnummer":"42","Kostragruppe":{"Id":5,"Navn":"KOSTRA-gruppe
        5"}},"Beliggenhetsadresse":{"Adresse":"Gamle S\u00F8rlandske 1304","Postnummer":"4993","Poststed":"SUNDEBRU","Land":"Norge"},"Postadresse":{"Adresse":"Gjerstadveien
        1335","Postnummer":"4980","Poststed":"GJERSTAD","Land":"Norge"},"Koordinat":{"Lengdegrad":9.09501,"Breddegrad":58.8392,"Zoom":12,"GeoKilde":"GeoNorge"},"Internettadresse":"www.abel.skole.no","Maalform":{"Id":"B","Navn":"Bokm\u00E5l"},"Organisasjonsform":{"Id":"BEDR","Navn":"Underenhet
        til n\u00E6ringsdrivende og offentlig sektor"},"Naeringskoder":[{"Prioritet":1,"Kode":"85.201","Navn":"Ordin\u00E6r
        grunnskoleundervisning","Versjon":"2007"}],"Hjelpeenhetskode":null,"Utgaattype":{"Id":"A","Navn":"Ingen
        utg\u00E5ttype"},"UtgaattDato":null,"ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":true,"ErPrivatskole":false,"ErOffentligSkole":true,"ErVideregaaendeSkole":false,"ErSpesialskole":false,"ErGrunnopplaering":true,"PrivatskoleGodkjenning":null,"Elevtall":245,"AntallAnsatte":66,"SkoletrinnGSFra":1,"SkoletrinnGSTil":10,"SkoletrinnVGSFra":null,"SkoletrinnVGSTil":null,"Skolekategorier":[{"Id":"1","Navn":"Grunnskole"},{"Id":"3","Navn":"Offentlig
        skole"},{"Id":"5","Navn":"Kommunal"},{"Id":"32","Navn":"Grunnoppl\u00E6ring"}],"ForeldreRelasjoner":[{"Enhet":{"Organisasjonsnummer":"964964998","Navn":"Gjerstad
        kommune"},"Relasjonstype":{"Id":"1","Navn":"Eierstruktur"}},{"Enhet":{"Organisasjonsnummer":"964964998","Navn":"Gjerstad
        kommune"},"Relasjonstype":{"Id":"4","Navn":"Tilknytningsstruktur"}},{"Enhet":{"Organisasjonsnummer":"964964998","Navn":"Gjerstad
        kommune"},"Relasjonstype":{"Id":"5","Navn":"Administrativ struktur"}},{"Enhet":{"Organisasjonsnummer":"974762994","Navn":"Statsforvalteren
        i Agder"},"Relasjonstype":{"Id":"2","Navn":"Tilsynsstruktur"}}],"BarnRelasjoner":[],"OppstartsEllerStiftelsesdato":"1969-02-01T00:00:00+01:00","DatoEndret":"2025-03-21T09:16:04.82+01:00"}'
  recorded_at: Mon, 07 Apr 2025 13:20:07 GMT
recorded_with: VCR 6.3.1
