<% content_for(:html_title) { "#{t("space_contacts.edit")} #{@space_type.type_name}" } %>

<div class="content max-w-md mt-6 mx-auto p-4 w-full">
  <h1>Rediger type lokale:</h1>
  <%= render 'form' %>
</div>
