<%
  mapbox_zoom = 12
  map_height = 250
  map_width = 400
  mapbox_static_map_url = %W[
      https://api.mapbox.com/styles/v1/mapbox/streets-v11/static
      /pin-l-circle+db2777(#{@space.lng},#{@space.lat})
      /#{@space.lng},#{@space.lat},#{mapbox_zoom}
      /#{map_width}x#{map_height}?logo=false&@2x&
      &access_token=#{ENV["MAPBOX_API_KEY"]}
  ].join

  google_maps_url = %W[
    https://www.google.com/maps?q=
    #{ERB::Util.url_encode(
      "#{@space.title}, #{@space.address}, #{@space.post_number} #{@space.post_address}"
    )}
  ].join
%>

<%= link_to google_maps_url do %>
  <%= image_tag mapbox_static_map_url, class: "block hover:opacity-80 my-3 object-none", alt: "" %>
  <p class="inline">Åpne i Google Maps</p>
<% end %>
