<div class="mt-4 mx-4">
  <h1 class="text-2xl">Spaces</h1>

  <%= render partial: "form", locals: { space: @space } %>

  <div>
    <% @spaces.each do |space| %>
      <%= render partial: "space_listing", locals: { space: space } %>
    <% end %>
  </div>
</div>
