<div data-controller="mapbox" data-api-key="<%= ENV["MAPBOX_API_KEY"]%>" >
  <%= render partial: 'spaces/index/filters' %>
  <div class="relative">
    <div class="md:fixed h-96 md:h-full w-full md:pl-md">
      <%= render partial: 'spaces/index/map' %>
    </div>
    <div class="md:w-md md:h-full">
      <%= render partial: 'spaces/index/filter_button' %>
      <div id="space-listing" class="px-4"></div>
    </div>
  </div>
</div>
