<div data-controller="mapbox" data-api-key="<%= ENV["MAPBOX_API_KEY"]%>" >
  <%= render partial: 'spaces/index/filters' %>
  <div class="relative">
    <div>
      <%= render partial: 'spaces/index/map' %>
    </div>
    <div>
      <%= render partial: 'spaces/index/filter_button' %>
      <div id="space-listing" class="px-4">
      </div>
    </div>
  </div>
</div>
