<div data-controller="mapbox" data-api-key="<%= ENV["MAPBOX_API_KEY"]%>" >
  <%= render partial: 'spaces/index/filters' %>
  <div class="relative md:flex md:flex-row-reverse h-full w-screen md:justify-items-stretch">
    <div class=" md:flex-1 md:h-full">
      <%= render partial: 'spaces/index/map' %>
    </div>
    <div class="md:overflow-y-auto md:w-md md:h-full">
      <%= render partial: 'spaces/index/filter_button' %>
      <div id="space-listing" class="px-4">
      </div>
    </div>
  </div>
</div>
