<div class="px-4 w-full">
  <h2><%= t('space_listing.new_space') %></h2>
  <%= render partial: "spaces/create/form", locals: { space: @space } %>
  <%= link_to t('simple_form.labels.user.back'), :back %>
</div>
