<div class="relative bg-gray-200 shadow rounded p-2">
  <%= turbo_stream_from "paper_trail_versions" %>

  <%= turbo_frame_tag "paper_trail_versions" do %>
    <% @versions.each do |version| %>
      <%= render partial: "version", locals: {
        version: version } %>
    <% end %>
  <% end %>
</div>
