<%# locals: (personal_space_list:, scope: nil) %>
<%= turbo_frame_tag dom_id_space_list_icons_for(personal_space_list, scope:),
                    class: "flex gap-2 w-fit flex-1 items-center flex-wrap" do %>
  <div class="text-gray-600 text-sm">
    <%= personal_space_list.space_contacted_count %> / <%= personal_space_list.space_count %> spurt
  </div>
  <%= render 'personal_space_lists/card/space_list_coins', personal_space_list: %>
<% end %>
