<% flash.each do |msg_type, message| %>
  <div data-controller="flash" data-flash-target="flash" aria-live="assertive" class="flash z-100 opacity-0">
    <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
      <div class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
          <div class="flex items-start">
            <%= helper_flash_type(msg_type, message) %>
            <%= render 'shared/flash_button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
