<%#
    Locals
    - images[]
%>
<div class="splide" data-controller="slider" data-slider-target="slider">
  <div class="splide__track">
    <ul class="splide__list">
      <% images.each do |image| %>
        <% url = url_for(image.image)  %>
        <li class="splide__slide">
          <img data-splide-lazy="<%= url %>" />
          <% if defined?(show_caption_credits) && show_caption_credits %>
            <div class="absolute bold rounded bg-white text-gray-700 bottom-1 left-1 py-1 px-2"><%= image.caption %></div>
            <div class="absolute bold rounded bg-white text-gray-700 bottom-1 right-1 py-1 px-2"><%= image.credits %></div>
          <% end %>
          <noscript>
            <img src="<%= url %>" />
          </noscript>
        </li>
      <% end %>
    </ul>
  </div>
</div>
