<%# Used to show a loading icon %>
<div class="absolute text-pink-300 w-full h-full flex justify-center items-center">
  <%= inline_svg_tag "logo-icon", class: "h-16 w-16 motion-safe:animate-pulse", alt: t("loading") %>
</div>
