<%# locals: (message:) %>
<div class="flex-shrink-0">
  <svg class="h-6 w-6 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
</div>
<div class="ml-3 w-0 flex-1 pt-0.5">
  <p class="text-sm font-medium text-gray-900">
    <%= message %>
  </p>
</div>
