<%#

    Locals:
    - path: Path to link to
    - icon: Icon to show
    - text: Text to show

%>
<span class="<%= current_page?(path) ? "text-gray-900" : "text-gray-600" %> flex justify-center text-center">
 <%= link_to path, class: "unstyled-link text-sm hover:text-lnu-pink inline-flex flex-col md:flex-row items-center justify-center gap-1.5 md:gap-2" do %>
  <%=
    inline_svg_tag icon, class: "inline-block w-7 h-7 md:w-6 md:h-6 #{current_page?(path) && "text-lnu-pink"}" %>
    <%= text %>
<% end %>

</span>
