<% content_for(:html_title) { t("other_pages.title") } %>

  <div class="content max-w-prose mx-auto p-4 pb-10 trix-content">
    <h1>Andre kilder til lokaler</h1>
    <p>Fant du ikke lokale på vår løsning? Kanskje en av disse kan hjelpe!</p>
    <h3>Kommunale portaler vi vet om:</h3>
    <ul>
      <li>
        <a href="https://www.bookup.no/">Bookup.no</a> (Mange mindre kommuner, mye idrettsanlegg – men også en del møterom)
      </li>
      <li>
        <a href="https://www.aktiv-kommune.no/disse-er-med/">Aktiv Kommune</a> (Tilrettelagt for leie av enkeltrom.)
        <ul>
          <li>
            <a href="https://site1.aktiv-kommune.no/alver/bookingfrontend/">Alver</a>
          </li>
          <li>
            <a href="https://www.bergen.kommune.no/aktivkommune">Bergen</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/1120/bookingfrontend/">Klepp</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/larvik/bookingfrontend">Larvik</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/sandnes/bookingfrontend">Sandnes</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/sola/bookingfrontend">Sola</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/stavanger/bookingfrontend/">Stavanger</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/strand/bookingfrontend">Strand</a>
          </li>
          <li>
            <a href="https://site1.aktiv-kommune.no/suldal/bookingfrontend/">Suldal</a>
          </li>
          <li>
            <a href="http://www.aktivivest.no/">Øygarden</a>
          </li>
          <li>
            <a href="http://www.aktivialesund.no/">Ålesund</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://booking.trondheim.kommune.no/">Trondheim Kommunes Bookingbasen</a>
      </li>
      <li>
        <a href="https://www.oslo.kommune.no/natur-kultur-og-fritid/lokaler-og-uteomrader-til-lan-og-leie/">Oslo Kommune</a>
      </li>
      <li>
        <a href="https://www.drammen.kommune.no/tjenester/kunst-kultur/k10/utlan-og-leie-skolelokaler/">Drammen kommune</a>
      </li>
    </ul>
    <p>I tillegg har nesten alle kommuner eller fylkeskommuner en generell tekst om utlån på sine nettsider, med kontaktinfo. Prøv å søke etter «låne lokaler KOMMUNENAVN»!</p>
    <h3>Andre portaler</h3>
    <h4>Skoler</h4>
    <ul>
      <li>
        <a href="https://www.folkehogskole.no/skoler">Folkehøgskoler</a> (har ofte mulighet for overnatting i sommerferien)
      </li>
      <li>
        <a href="https://nsr.udir.no/">Nasjonalt skoleregister</a> (oversikt over alle landets skoler)
      </li>
      <li>
        <a href="https://www.google.com/maps/search/skole/">Google Maps</a> (søk etter skole)
      </li>
    </ul>
    <h4>Hytter</h4>
    <ul>
      <li>
        <a href="https://ut.no/">DNT sine hytter via UT.no</a>
      </li>
      <li>
        <a href="https://www.statskog.no/hytter-og-friluftsliv/hytter-koier-og-aremal">Statsskog sine hytter</a>
      </li>
      <li>
        <a href="http://booking.speiding.no/">Norges Speiderforbunds bookingsystem</a>
      </li>
    </ul>
    <h4>Musikklokaler</h4>
    <ul>
      <li>
        <a href="https://database.musikklokaler.no/kultur">Musikklokaler.no sin database</a>
      </li>
      <li>
        <a href="http://ungdomshus.no/">Ungdomshus.no, oversikt over konsertlokaler</a>
      </li>
      <li>
        <a href="https://scenerommet.no/sceneliste.php">Scenerommet.no</a>
      </li>
    </ul>
    <h4>Bygdehus</h4>
    <ul>
      <li>
        <a href="https://www.husetibygda.no/hus-oversikt">Huset i Bygda</a>
      </li>
    </ul>
    <h4>Kommersielle</h4>
    <ul>
      <li>
        <a href="https://www.airbnb.com/">AirBNB</a>
      </li>
      <li>
        <a href="https://hotels.com/">Hotels.com</a>
      </li>
      <li>
        <a href="https://eventum.no/">Eventum</a> (festlokaler)
      </li>
    </ul>
    <hr>
    <h2>Vet du om fler?</h2>
    <p>Send en mail til <a href="mailto:lokaler@lnu.no">lokaler@lnu.no</a>!</p>
  </div>
