<% content_for(:html_title) { "Personvernserklæring" } %>

<div class="content max-w-prose mx-auto p-4 pb-10 trix-content">
  <h1>Personvernserklæring for lokaler.lnu.no</h1>
  <h2>Generelt</h2>
  <p>Generelt lagrer vi så lite om deg som bruker siden som er praktisk mulig.</p>
  <p>LNU - Landsrådet for Norges barne- og Ungdomsorganisasjoner er databehandler og ansvarlig for dataene.</p>
  <p>Vi kan kontaktes på <a href="mailto:lokaler@lnu.no">lokaler@lnu.no</a></p>
  <h2>Vi lagrer følgende persondata om deg:</h2>
  <h3>Ditt navn og din e-post</h3>
  <p>Om du logger inn, og registrerer en bruker, så lagrer vi navnet du setter på brukeren og e-postadressen din.</p>
  <p>Dette er for å kunne identifisere deg som bruker på siden. Dataene kan også brukes til å kontakte deg
  om det skulle være noe rundt din bruk av siden.</p>
  <p>Andre brukere på siden kan også se din e-post og navnet du har valgt.</p>
  <h3>Din organisasjonstilknything</h3>
  <p>Om du legger inn organisasjonstilknytningen din på brukerprofilen din eller i en anmeldelse av et lokale, så vil dette knyttes til din bruker og kunne leses av andre brukere på siden.</p>
  <h3>All tekst du lagrer på siden</h3>
  <p>Av åpenbare grunner lagrer vi all tekst du måtte skrive om et lokale eller på andre måter på siden, og som regel vil også andre besøkende ha tilgang til å se at du skrev teksten.</p>
  <h2>Vi bruker følgende tredjepartstjenester som kan samle inn data om deg:</h2>
  <p>Om du logger inn med Google vil Google vite at du bruker siden.</p>
  <p>Dataene for siden lagres på Heroku, et amerikansk-eid selskap. Dataene lagres i Europa, men per Schrems II-dommen så kan amerikanske myndigheter fortsatt kreve dataene utlevert uten at vi vil få beskjed eller ha mulighet til å stoppe det.</p>
</div>
