<% content_for(:html_title) { "Personvernserklæring" } %>

<div class="content max-w-prose mx-auto p-4 pb-10 trix-content">
  <h1>Personvernserklæring for lokaler.lnu.no</h1>
  <h2>Generelt</h2>
  <p>Generelt lagrer vi kun data vi trenger for å levere tjenesten.</p>
  <p><a href="https://lnu.no">LNU - Landsrådet for Norges barne- og Ungdomsorganisasjoner</a> er behandlingsansvarlig og ansvarlig for dataene.</p>
  <p>Vi kan kontaktes på <a href="mailto:lokaler@lnu.no">lokaler@lnu.no</a></p>
  <h2>Vi lagrer følgende persondata om deg:</h2>
  <h3>Ditt navn og din e-post</h3>
  <p>Om du logger inn, og registrerer en bruker, så lagrer vi navnet du setter på brukeren og e-postadressen din.</p>
  <p>Dette er for å kunne identifisere deg som bruker på siden. Dataene kan også brukes til å kontakte deg
  om det skulle være noe rundt din bruk av siden.</p>
  <p>Andre brukere på siden kan se navnet du har valgt.</p>
  <p>Administratorer på siden kan se e-posten du har valgt.</p>
  <h3>Din organisasjonstilknything</h3>
  <p>Om du legger inn organisasjonstilknytningen din på brukerprofilen din eller i en anmeldelse av et lokale, så vil dette knyttes til din bruker og kunne leses av andre brukere på siden.</p>
  <h3>All tekst du lagrer på siden</h3>
  <p>Av åpenbare grunner lagrer vi all tekst du måtte skrive om et lokale eller på andre måter på siden, og som regel vil også andre besøkende ha tilgang til å se at du skrev teksten.</p>
  <h3>Hvor ofte du logger inn, og om innloggingen var vellyket</h3>
  <p>Vi logger alle forsøk på å logge inn på en bruker, og hvorvidt de var vellykket.</p>
  <p>Vi logger alle dager en bruker har vært aktiv, så vi vet hvor mange som er aktive.</p>
  <h3>Hvilke lokaler du søker på, og hvor du klikker på siden</h3>
  <p>Vi bruker Posthog for å lagre informasjon om hva som skjer på siden: Hva folk søker på, hva de klikker på, hvilke bugs som oppstår, og generelt hvordan det går med applikasjonen.</p>
  <p>Dataene inneholder ikke din IP-adresse, men Posthog lagrer en cookie som gjenkjenner deg neste gang du besøker siden. Om du logger inn, så kan handlingene dine knyttes til din bruker.</p>
  <p>Dataene lagres i Europa, men per Schrems II-dommen så kan amerikanske myndigheter fortsatt kreve dataene utlevert uten at vi vil få beskjed eller ha mulighet til å stoppe det.</p>
  <h2>Vi bruker følgende tredjepartstjenester som kan samle inn data om deg:</h2>
  <p>Om du logger inn med Google vil Google vite at du bruker siden.</p>
  <p>Statistikk samles inn om bruk av siden gjennom Posthog (se over).</p>
  <p>Dataene for siden lagres på en server vi leier av Hetzner, et tysk-eid selskap.</p>
</div>
