<%# locals: (field_title: ) %>
<div class="p-8 text-center border-2 border-lnu-blue/20 rounded-xl border-dotted text-lnu-blue hover:border-lnu-pink hover:text-lnu-pink">
  + Legg til <%= field_title.downcase || "" %>
</div>