<%# locals: (personal_space_list:) %>
<div class="inline-flex gap-1 items-center text-gray-700">
  Delt av <%= personal_space_list.user.name %>
  <%= image_tag personal_space_list.user.gravatar_url, class: "h-6 w-6 rounded-full shadow-sm" %>
</div>
