<%# locals: (title:, id_to_clear:) %>
<button
  data-action="click->search#disableFilterById"
  data-id-to-clear="<%= id_to_clear %>"
  class="bg-white px-2.5 py-0.5 mt-2 rounded-full border border-gray-200 hover:border-lnu-pink whitespace-nowrap">
  <%= title %>
</button>
