<div class="relative w-full h-96 md:h-full">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
  <div class="w-full h-96 md:h-full" id="map-frame"></div>

  <div class="justify-center w-full flex hidden" data-mapbox-target="searchArea">
    <button data-action="click->mapbox#reloadPosition" class="absolute top-0 p-1 px-2 mr-4 mt-28 bg-white rounded-xl hover:border-lnu-pink border-white border-2 shadow-xl md:mt-2">
      <%= inline_svg_tag 'reload', class: 'inline-block' %>
      <%= t('space_filter.map_reload') %>
    </button>
  </div>
</div>
