<div class="relative h-full md:h-full w-full pl-1/2 peer-empty/space:pl-0">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
  <div class="w-full h-full md:h-full" id="map-frame"></div>

  <div class="justify-center w-full flex hidden" data-mapbox-target="searchArea">
    <button
      data-action="click->mapbox#reloadPosition"
      class="absolute top-5
              p-1 px-2
              mr-4 mt-24 md:mt-2
              rounded-xl
              border-lnu-pink border-2
              bg-white
              hover:bg-lnu-pink focus:bg-lnu-pink
              hover:text-white focus:text-white
              hover:fill-white focus:fill-white
              shadow-xl
              motion-safe:animate-shake-on-load"
    >
      <%= inline_svg_tag 'reload', class: 'inline-block' %>
      <%= t('space_filter.map_reload') %>
    </button>
  </div>

  <div class="absolute bottom-12 right-4 md:right-6 md:bottom-auto md:top-6">
    <button
      data-action="click->mapbox#enableLocationService"
      class="
    flex bg-white h-12 w-12 place-content-center place-items-center border-2 shadow-lg rounded-full border-white hover:border-lnu-pink gap-2">
      <%= inline_svg_tag 'gps', class: 'inline-block' %>
    </button>
  </div>
</div>
