<%# locals: (space_count:, page_size:) %>
<% if space_count > page_size %>
  <div class="content">
    <hr />
    <p class="text-gray-700 italic">
      <%= t('space_filter.showing_only_page_size_spaces', count: page_size) %>.
      <%= t('space_filter.filter_or_zoom') %>
    </p>
    <hr />
  </div>
<% end %>
