<%# locals: (space_count:) %>
<div class="mb-6">
<h1 class="text-base text-gray-600 text-left px-2 mb-2">
    <%= t('space_filter.spaces_that_might_work', count: space_count ) %>
</h1>
<% if @filtered_facilities.any? and space_count > 1 %>
  <p class="text-sm text-gray-400 text-left px-2">
    <%= t('space_filter.showing_spaces_matching_one_or_more_filters') %>
  </p>
<% end %>
</div>
