<%# locals: (space_count:) %>
<div class="mb-6 max-w-96 px-2">
<h1 class="text-sm text-lnu-blue/80 font-bold md:font-normal md:text-base md:text-slate-700 text-left inline md:block md:mb-2">
    <%= t('space_filter.spaces_that_might_work', count: space_count ) %>.
</h1>
<% if @filtered_facilities.any? and space_count > 1 %>
  <p class="text-sm text-lnu-blue/80 text-left inline md:block md:mb-2">
    <%= t('space_filter.showing_spaces_matching_one_or_more_filters') %>
  </p>
<% end %>
</div>
