---
http_interactions:
- request:
    method: get
    uri: https://data-nsr.udir.no/v4/enheter/skolekategori/2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 3.0, 4.0
    body:
      encoding: UTF-8
      string: '{"EnhetListe":[{"Organisasjonsnummer":"973798995","Navn":"Acta bibelskole","FulltNavn":"Acta
        bibelskole","Karakteristikk":"","Fylkesnummer":"11","Kommunenummer":"1103","ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":false,"ErVideregaaendeSkole":true,"ErPrivatskole":true,"ErOffentligSkole":false,"ErSpesialskole":false,"ErGrunnopplaering":true,"Skolekategorier":[{"Id":"2","Navn":"Videreg\u00E5ende
        skole"},{"Id":"4","Navn":"Privat eiet"},{"Id":"16","Navn":"Godkjent privatskole"},{"Id":"32","Navn":"Grunnoppl\u00E6ring"}],"DatoEndret":"2025-03-21T12:06:04.363+01:00"},{"Organisasjonsnummer":"974557932","Navn":"Adolf
        \u00D8iens skole","FulltNavn":"Adolf \u00D8iens skole","Karakteristikk":"","Fylkesnummer":"16","Kommunenummer":"1601","ErAktiv":false,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":false,"ErVideregaaendeSkole":true,"ErPrivatskole":false,"ErOffentligSkole":true,"ErSpesialskole":false,"ErGrunnopplaering":true,"Skolekategorier":[{"Id":"2","Navn":"Videreg\u00E5ende
        skole"},{"Id":"3","Navn":"Offentlig[...]
