---
http_interactions:
- request:
    method: get
    uri: https://data-nsr.udir.no/v4/enheter/skolekategori/1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 3.0, 4.0
    body:
      encoding: UTF-8
      string: '{"EnhetListe":[{"Organisasjonsnummer":"975279154","Navn":"Aa skole","FulltNavn":"Aa
        skole","Karakteristikk":"","Fylkesnummer":"50","Kommunenummer":"5059","ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":true,"ErVideregaaendeSkole":false,"ErPrivatskole":false,"ErOffentligSkole":true,"ErSpesialskole":false,"ErGrunnopplaering":true,"Skolekategorier":[{"Id":"1","Navn":"Grunnskole"},{"Id":"3","Navn":"Offentlig
        skole"},{"Id":"5","Navn":"Kommunal"},{"Id":"32","Navn":"Grunnoppl\u00E6ring"}],"DatoEndret":"2025-03-21T08:38:18.143+01:00"},{"Organisasjonsnummer":"995922770","Navn":"Aalesund
        International School Sti","FulltNavn":"Aalesund International School Sti","Karakteristikk":"","Fylkesnummer":"15","Kommunenummer":"1508","ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":true,"ErVideregaaendeSkole":false,"ErPrivatskole":true,"ErOffentligSkole":false,"ErSpesialskole":false,"ErGrunnopplaering":true,"Skolekategorier":[{"Id":"1","Navn":"Grunnskole"},{"Id":"4","Navn":"Privat
  [...]
