---
http_interactions:
- request:
    method: get
    uri: https://data-nsr.udir.no/v4/enheter/skolekategori/11
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 3.0, 4.0
    body:
      encoding: UTF-8
      string: '{"EnhetListe":[{"Organisasjonsnummer":"973256106","Navn":"Agder folkeh\u00F8gskole","FulltNavn":"Agder
        folkeh\u00F8gskole","Karakteristikk":"","Fylkesnummer":"42","Kommunenummer":"4204","ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":false,"ErVideregaaendeSkole":false,"ErPrivatskole":true,"ErOffentligSkole":false,"ErSpesialskole":false,"ErGrunnopplaering":false,"Skolekategorier":[{"Id":"4","Navn":"Privat
        eiet"},{"Id":"16","Navn":"Godkjent privatskole"},{"Id":"11","Navn":"Folkeh\u00F8yskole"}],"DatoEndret":"2025-04-02T01:15:28.583+02:00"},{"Organisasjonsnummer":"973257277","Navn":"Alta
        folkeh\u00F8gskole","FulltNavn":"Alta folkeh\u00F8gskole","Karakteristikk":"","Fylkesnummer":"56","Kommunenummer":"5601","ErAktiv":true,"ErSkole":true,"ErSkoleeier":false,"ErGrunnskole":false,"ErVideregaaendeSkole":false,"ErPrivatskole":true,"ErOffentligSkole":false,"ErSpesialskole":false,"ErGrunnopplaering":false,"Skolekategorier":[{"Id":"4","Navn":"Privat
        eiet"},{"Id":"16","Navn":"Godkjent privatsk[...]
