<%#
    Local params:
    - form
=
%>
<div>

<%= form.label :comment, class: 'font-bold text-gray-900 mb-1 block' do %>
  <%= t('reviews.form.how_would_you_summarize_the_experience?') %>
<% end %>
<p class="label">
  <%= t('reviews.form.what_did_you_experience_any_tips_for_others') %>
</p>
<%= form.input :comment,
               label: false,
               as: :text,
               input_html: { size: '12x12', required: true },
               class: "block w-full my-2" %>

</div>
