<% unless @facility_reviews.empty? %>
  <h2><%= t('reviews.form.were_you_allowed_to_use') %></h2>

  <%=
    render partial: 'reviews/new/facilities', locals: {
      facilities: @facility_reviews,
      form: form
    }
  %>
<% end  %>
