
<div>
  <%= form.label :organization, class: "h3" do %>
    <%= t('reviews.form.booked_on_behalf_of') %>
  <% end %>

  <%= form.input :organization,
                 value: current_user.organization,
                 label: false,
                 class: "h3" %>

  <% unless current_user.organization.present? %>
    <div class="text-sm -mt-1 text-gray-500">
      <%= t('reviews.form.placeholder_your_organization') %>
    </div>
  <% end %>
</div>
