<h2><%= t('reviews.form.have_you_been_there?') %></h2>
<ul>
  <% Review.type_of_contacts.keys.reverse.each do |type_of_contact| %>
    <li>
      <%= link_to new_review_with_type_of_contact_path(review.space, type_of_contact) do %>
        <%= t("reviews.form.have_you_been_there_answers.#{type_of_contact}") %>
        <%= inline_svg Review::TYPE_OF_CONTACT_ICONS[type_of_contact], class: 'inline-block' %>
      <% end %>
    </li>
  <% end  %>
</ul>
