a,
.link {
  @apply text-pink-700;
  &:hover {
    @apply underline;
  }
}

a.unstyled-link {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.button {
  @apply w-40 px-4;
  @apply hover:bg-lnu-pink hover:text-white;
  @apply border-2 rounded-l border-lnu-pink;
}

.top-shadow-lg {
  --tw-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
