a,
.link {
  @apply text-pink-700;
  @apply rounded;
  &:hover {
    @apply underline;
  }
  &:focus {
    @extend .focused-outline;
  }
}

a.unstyled-link {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.top-shadow-lg {
  --tw-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
