.edit-button {
  @apply rounded-lg py-2 px-3;
  @apply bg-gray-100;
  @apply inline-flex content-center items-center;
  @apply text-gray-700;
  .text {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @apply transition-all;
  }
  &:hover {
    @apply shadow-md;
    @apply text-pink-700;
    .text {
      max-width: 200px;
      margin-right: 0.5em;
    }

  }
}