<%# locals: (spaces: ) %>

<div class="w-fit sticky left-0 pt-8 pl-8">
  <%= render 'spaces/index/space_listing_header', space_count: @space_count %>
</div>
<table class="space_table border-collapse">
  <thead>
  <tr>
    <th scope="col">
      Lokale
    </th>

    <th scope="col">
      Fasiliteter
    </th>

    <th scope="col">
      Kontaktinfo
    </th>

    <th scope="col">
      Erfaringer
    </th>

    <th scope="col">
      Pris og vilkår
    </th>

    <th scope="col">
      Mer informasjon
    </th>

  </tr>
  </thead>
  <tbody>
  <% spaces.each do |space| %>
    <%
      @space = space
      @space_contact = SpaceContact.new(space_id: @space.id, space_group_id: @space.space_group_id)
    %>
    <%= render partial: "spaces/table_views/space_table_row" %>
  <% end %>
  </tbody>
</table>
