<%# locals: (spaces:, space_count: spaces.count, page_size: nil ) %>

<table
  class="space_table border-collapse">
  <caption class="w-96 sticky left-0 p-8 text-left ">
    <%= t('space_filter.spaces_that_might_work', count: space_count ) %>
    <% if page_size.present? %>
      <p class="text-gray-500">
        <%= t('space_filter.showing_only_page_size_spaces', count: page_size) %><br />
      </p>
    <% end %>
  </caption>
  <thead>
  <tr>
    <th scope="col">
      Lokale
    </th>

    <% if @active_personal_space_list.present? %>
      <th scope="col">
        Status
      </th>
    <% end %>

    <th scope="col">
      Fasiliteter
    </th>

    <th scope="col">
      Kontaktinfo
    </th>

    <th scope="col">
      Erfaringer
    </th>

    <th scope="col">
      Pris og vilkår
    </th>

    <th scope="col">
      Mer informasjon
    </th>

  </tr>
  </thead>
  <tbody>
  <% spaces.each do |space| %>
    <%
      @space = space
      @space_contact = SpaceContact.new(space_id: @space.id, space_group_id: @space.space_group_id)
    %>
    <%= render partial: "spaces/table_views/space_table_row" %>
  <% end %>
  </tbody>
</table>
