<div class="flex">
  <nav class="hidden fixed inset-0 z-100 bg-white overflow-y-auto overscroll-contain
              md:block md:sticky md:inset-[unset] md:top-desktop-menu-height md:left-0 md:z-10 md:h-screen-below-desktop-menu
              md:shadow-2xl md:w-72 md:flex-shrink-0
  ">
    <div class="p-8 md:pt-11">
      <%= render partial: "spaces/table_views/search_form" %>
    </div>
  </nav>

  <main class="relative">
    <%= render 'spaces/table_views/space_table_view' %>
  </main>
</div>
