<fieldset class="star-rating">
  <legend><%= t('reviews.form.what_impression_did_you_get') %></legend>
  <div>
    <% (1..5).each do | score | %>
      <input type="radio" name="rating" value="<%= score %>" id="rating<%= score %>" />
      <label for="rating<%= score %>"><span>1</span></label>
    <% end  %>
  </div>
</fieldset>
