<%# locals: (personal_space_list:) %>
<div class="<%= "motion-safe:animate-pulse-on-load" if turbo_request? %>">
<%= render "personal_space_lists/card/link_to_list_card_wrapper",
           url: personal_space_lists_path,
           personal_space_list:,
           extra_css_classes: "border-gray-500" do %>
  <%= render 'personal_space_lists/card/title', personal_space_list: %>
  <%= render 'personal_space_lists/card/space_list', personal_space_list: %>
<% end %>
</div>
