<div class="mx-auto max-w-prose py-4 content">
  <%= link_to "â† Til alle lister", personal_space_lists_path, class: "link" %>


  <h1 class="font-bold text-2xl mt-8 mb-4">Ny liste</h1>

  <%= render "form", personal_space_list: @personal_space_list %>

</div>
