<% content_for(:html_title) { @space_group.title } %>

<div class="border-2 border-green-400 mt-4">
  <h3><%= @space_group.title %></h3>
  <h3>How to book</h3>
  <%= @space_group.how_to_book %>
  <h3>Terms and pricing</h3>
  <%= @space_group.terms_and_pricing %>
  <h3>About</h3>
  <%= @space_group.about %>
</div>
