@utility button {
  @apply cursor-pointer;
  @apply rounded-lg py-2 px-3;
  @apply bg-gray-100 border border-gray-100;
  @apply inline-flex gap-2 content-center items-center;
  @apply text-gray-700;
  &:hover {
    @apply shadow-md;
    @apply border border-pink-700;
    &.collapsable {
      .text {
        max-width: 200px;
        margin-right: 0.5em;
      }
    }
  }
  &.hidden {
    display: none;
  }
  &.submit,
  &[type='submit']:not(.no-submit-styling) {
    @apply bg-pink-700 text-white;
    &:hover {
      @apply bg-pink-600 border-pink-600;
    }
  }
  &.disabled,
  &[disabled] {
    @apply bg-gray-300 text-gray-600 cursor-default;
    &:hover,
    &:focus {
      @apply bg-gray-300 text-gray-600 cursor-not-allowed border-gray-300 shadow-none;
    }
  }
  @extend .focused-outline;
  &.button--white {
    @apply bg-white border-gray-200;
  }
  &.button--black {
    @apply text-white bg-black border-black;
    &:hover,
    &:focus {
      @apply text-white bg-black border-lnu-pink;
    }
  }
  &.button--small {
    @apply py-1 px-2 text-sm;
  }
}

@utility focused-outline {
  @apply focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-lnu-pink;
}

@utility dropdown {
  /* Form wrappers: */

  /*
  Forms where the label is on top of the input element:
   */
  .label {
    @apply block;
    @apply mt-3 mb-1;
  }
  @apply mb-3;
}

@utility vertical_form {
  .label {
    @apply block;
    @apply mt-3 mb-1;
  }
  @apply mb-3;
}

@utility boolean_form {
  /*
   Input for boolean (aka checkboxes)
   */
  @extend .vertical_form;
  @apply mb-4 flex items-center;
  .label {
    @apply mt-1.5 mb-1.5;
  }
}

@utility collection_form {
  /*
   Collection input for radio buttons and check boxes
   */
  @extend .vertical_form;
  @apply flex items-center;
  @apply mb-0.5;

  .item_label {
    @apply my-1 ml-2 block text-sm;
  }
  .item_label_wrapper {
    @apply my-4;
  }
}

@utility check_boxes {
  .legend {
    @apply block;
    @apply mt-3 mb-2;
    @apply text-current font-bold;
  }
}

@utility field_set {
  legend {
    @apply text-xl font-bold mb-1.5;
  }
}

@utility meta_text {
  /*
   Meta (helper text around fields)
   */
  @apply mt-2 text-xs italic;
}

@utility error_notification {
  /*
   Errors:
   */
  @apply text-white px-6 py-4 border-0 rounded-sm relative mb-4 bg-red-400;
}

@utility error_field {
  @apply border-red-500;
}

@utility error_text {
  @apply text-red-500;
}

@utility valid_field {
  /*
   Valid:
   */
  @apply border-green-400;
}

@utility valid_text {
  @apply text-green-400;
}

@utility label {
  /*
   Labels
   */
  @apply text-sm font-medium text-gray-600;
}

@utility label--error {
  @extend .error_text;
}

@utility text_field {
  /*
   Fields
   */
  @apply appearance-none rounded-sm relative block w-full px-3 py-2 sm:text-sm;
  @apply border border-gray-300 placeholder-gray-500 text-gray-900;
  @apply focus:outline-hidden focus:border-lnu-pink  focus:ring-lnu-pink;
}

@utility select_field {
  @extend .text_field;
  @apply pr-8;
}

@utility file_field {
  @apply w-full text-gray-500 px-3 py-2 border rounded-sm;
  @extend .focused-outline;
}

@utility checkbox-wrapper {
  @apply flex items-center h-5;
}

@utility checkbox {
  @extend .focused-outline;
  @apply h-4 w-4 text-lnu-pink focus:ring-lnu-pink border-gray-300 rounded-sm;
}

@utility range_field_wrapper {
  @apply flex items-center h-5;
}

@utility range_field {
  @extend .focused-outline;
  @apply rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-full text-gray-300;
}

@utility legend {
  @apply text-sm font-medium text-gray-600;
}

@utility multi_select_wrapper {
  @apply inline-flex space-x-1;
}

@utility multi_select {
  @extend .focused-outline;
  @apply flex w-auto w-auto shadow-sm appearance-none border border-gray-300;
  @apply rounded-sm w-full p-2 bg-white;
  @apply text-gray-400 leading-4 transition-colors duration-200 ease-in-out;
}
