#search_results[aria-busy="true"] .show-as-loading-when-spaces-are-loading {
    @apply motion-safe:animate-pulse;
}

.show-as-loading-when-spaces-are-loading:empty {
    @apply flex flex-col gap-4;
    @apply motion-safe:animate-pulse;
    & > * {
        display: none;
    }
    &::before {
        content: "Leter etter lokaler...";
        display: block;
        @apply w-full h-48 rounded-sm flex items-center justify-center;
        @apply bg-gray-100;
    }
}
