.modal {
  @apply relative;
  @apply min-h-24;
  @apply w-full max-w-full max-h-full md:max-h-90vh md:max-w-prose;
  @apply z-50;
  @apply bg-white;
  @apply p-8 md:rounded-lg md:drop-shadow-xl;
  @apply overflow-y-auto overscroll-contain;
}

.modal-background {
  @apply inset-0 fixed z-40;
  @apply flex items-center justify-center;
  @apply bg-gray-700 bg-opacity-75 transition-opacity;
}

.space-open-in-sidebar .modal-background {
  @apply md:left-1/2 md:px-2;
  @apply md:top-desktop-menu-height;
  @apply bottom-24 md:bottom-0;
}

.modal-close-button {
  @apply text-left text-sm hover:underline;
}

.modal-header {
  @apply px-8 sm:px-28 pt-8 pb-2;
  @apply flex gap-2 justify-center text-center items-center flex-wrap;
  h3 {
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.modal-content {
  @apply px-8 py-4;
  @apply overflow-auto;
}

.modal-footer {
  @apply px-8 py-4;
  @apply bg-gray-100;
  @apply flex justify-center gap-6;
}


.modal--with-header-and-footer {
  @apply flex flex-col;
  @apply p-0;
  .modal-close-button {
    @apply sm:fixed sm:z-10 ml-8 mt-9 text-left text-sm -mb-4 sm:mb-4 ;
  }
  .modal-header {
    @apply sm:sticky sm:top-0 bg-white sm:pb-4;
  }
  .modal-footer {
    @apply sticky;
    bottom: -1px;
  }
}

.modal-button {
  @apply bg-gray-900 hover:bg-lnu-pink text-white rounded-lg px-4 py-3 inline-flex gap-2 content-center items-center;
}
