<div class="border-2 border-green-400 mt-4">
  <p>Title: <%= @review.title %></p>
  <p>Comment: <%= @review.comment %></p>
  <p>Price: <%= @review.price %></p>
  <p>Star Rating: <%= @review.star_rating %></p>
</div>
