---
http_interactions:
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&side=0&sok=Hammerstads%20gate%2032&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"adresser":[{"adressekode":12647,"adressenavn":"Hammerstads gate","adressetekst":"Hammerstads
        gate 32","adressetekstutenadressetilleggsnavn":"Hammerstads gate 32","adressetilleggsnavn":null,"bokstav":"","bruksenhetsnummer":["H0101","H0102","H0201","H0202","H0301","H0302","H0401","H0402"],"bruksnummer":16,"festenummer":0,"gardsnummer":46,"kommunenavn":"OSLO","kommunenummer":"0301","nummer":32,"objtype":"Vegadresse","oppdateringsdato":"2020-06-15T16:04:04","postnummer":"0363","poststed":"OSLO","representasjonspunkt":{"epsg":"EPSG:4258","lat":59.93178961408748,"lon":10.717497338316784},"stedfestingverifisert":false,"undernummer":null}],"metadata":{"asciiKompatibel":true,"side":0,"sokeStreng":"utkoordsys=4258&treffPerSide=10&side=0&asciiKompatibel=true&sok=Hammerstads
        gate 32","totaltAntallTreff":1,"treffPerSide":10,"viserFra":0,"viserTil":10}}

        '
  recorded_at: Fri, 29 Oct 2021 12:36:37 GMT
recorded_with: VCR 6.0.0
