---
http_interactions:
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&postnummer=3060&poststed=svelvik&side=0&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"adresser":[{"adressekode":5136,"adressenavn":"Gjerrudveien","adressetekst":"Gjerrudveien
        48A","adressetekstutenadressetilleggsnavn":"Gjerrudveien 48A","adressetilleggsnavn":null,"bokstav":"A","bruksenhetsnummer":[],"bruksnummer":7,"festenummer":0,"gardsnummer":328,"kommunenavn":"DRAMMEN","kommunenummer":"3005","nummer":48,"objtype":"Vegadresse","oppdateringsdato":"2021-09-14T07:56:56","postnummer":"3060","poststed":"SVELVIK","representasjonspunkt":{"epsg":"EPSG:4258","lat":59.65254280759855,"lon":10.372673203838243},"stedfestingverifisert":false,"undernummer":null},{"adressekode":5335,"adressenavn":"Orelundveien","adressetekst":"Orelundveien
        1","adressetekstutenadressetilleggsnavn":"Orelundveien 1","adressetilleggsnavn":null,"bokstav":"","bruksenhetsnummer":[],"bruksnummer":151,"festenummer":0,"gardsnummer":322,"kommunenavn":"DRAMMEN","kommunenummer":"3005","nummer":1,"objtype":"Vegadresse","oppdateringsdato":"2021-01-14T18:45:45","postnummer":"3060","poststed":"SVELVIK","representasjonspunkt":{"epsg":"EPSG:4258","lat":59.61642637827625,"lon"[...]
