---
http_interactions:
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&postnummer=3060&side=0&sok=Ankerveien%202&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"side":0,"viserTil":10,"totaltAntallTreff":9,"asciiKompatibel":true,"viserFra":0,"sokeStreng":"asciiKompatibel=true&postnummer=3060&side=0&sok=Ankerveien+2&treffPerSide=10&utkoordsys=4258","treffPerSide":10},"adresser":[{"adressenavn":"Ankerveien","adressetekst":"Ankerveien
        2","adressetilleggsnavn":null,"adressekode":5005,"nummer":2,"bokstav":"","kommunenummer":"3301","kommunenavn":"DRAMMEN","gardsnummer":321,"bruksnummer":337,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SVELVIK","postnummer":"3060","adressetekstutenadressetilleggsnavn":"Ankerveien
        2","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.62259769264266,"lon":10.392915337674847},"oppdateringsdato":"2024-01-01T00:00:00"},{"adressenavn":"Ankerveien","adressetekst":"Ankerveien
        7","adressetilleggsnavn":null,"adressekode":5005,"nummer":7,"bokstav":"","kommunenummer":"3301","kommunenavn":"DRAMMEN","gardsnummer":321,"bruksnummer":331,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SVELVIK","postnummer":"3060","adressetekstutenadressetilleggsnavn":"Ankerveien
        7","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","l[...]
