---
http_interactions:
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&postnummer=3060&side=0&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"side":0,"viserTil":10,"totaltAntallTreff":2867,"asciiKompatibel":true,"viserFra":0,"sokeStreng":"asciiKompatibel=true&postnummer=3060&side=0&treffPerSide=10&utkoordsys=4258","treffPerSide":10},"adresser":[{"adressenavn":"M\u00e5rsvingen","adressetekst":"M\u00e5rsvingen
        2","adressetilleggsnavn":null,"adressekode":5522,"nummer":2,"bokstav":"","kommunenummer":"3301","kommunenavn":"DRAMMEN","gardsnummer":321,"bruksnummer":491,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SVELVIK","postnummer":"3060","adressetekstutenadressetilleggsnavn":"M\u00e5rsvingen
        2","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.62571743086536,"lon":10.390065735510298},"oppdateringsdato":"2024-01-01T00:00:00"},{"adressenavn":"Lille
        \u00c5sgaten","adressetekst":"Lille \u00c5sgaten 3A","adressetilleggsnavn":null,"adressekode":5210,"nummer":3,"bokstav":"A","kommunenummer":"3301","kommunenavn":"DRAMMEN","gardsnummer":339,"bruksnummer":112,"festenummer":0,"undernummer":null,"bruksenhetsnummer":["H0101","H0102","H0201","H0202","H0301","H0302"],"objtype":"Vegadresse","poststed":"SVELVIK","postnummer":"3060","adressetekstutenadressetilleggsnavn":"Lille
        \u00c5sgaten 3A","[...]
