---
http_interactions:
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&postnummer=3730&side=0&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"side":0,"viserTil":10,"totaltAntallTreff":339,"asciiKompatibel":true,"viserFra":0,"sokeStreng":"asciiKompatibel=true&postnummer=3730&side=0&treffPerSide=10&utkoordsys=4258","treffPerSide":10},"adresser":[{"adressenavn":"Aslaugs
        gate","adressetekst":"Aslaugs gate 7","adressetilleggsnavn":null,"adressekode":11200,"nummer":7,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":300,"bruksnummer":98,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3730","adressetekstutenadressetilleggsnavn":"Aslaugs
        gate 7","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.195875559184664,"lon":9.608978600355854},"oppdateringsdato":"2024-01-01T00:00:00"},{"adressenavn":"Aslaugs
        gate","adressetekst":"Aslaugs gate 9","adressetilleggsnavn":null,"adressekode":11200,"nummer":9,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":300,"bruksnummer":99,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3730","adressetekstutenadressetilleggsnavn":"Aslaugs
        gate 9","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258",[...]
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&side=0&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Ingen s\u00f8keparametere oppgitt."}

        '
  recorded_at: Thu, 11 Jan 2024 09:50:21 GMT
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&side=0&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Ingen s\u00f8keparametere oppgitt."}

        '
  recorded_at: Thu, 11 Jan 2024 09:50:21 GMT
recorded_with: VCR 6.0.0
