---
http_interactions:
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&side=0&sok=Ulefossvegen%2032&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"asciiKompatibel":true,"totaltAntallTreff":3,"viserTil":10,"sokeStreng":"asciiKompatibel=true&side=0&sok=Ulefossvegen+32&treffPerSide=10&utkoordsys=4258","viserFra":0,"side":0,"treffPerSide":10},"adresser":[{"adressenavn":"Ulefossvegen","adressetekst":"Ulefossvegen
        32","adressetilleggsnavn":null,"adressekode":87600,"nummer":32,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":300,"bruksnummer":4073,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3730","adressetekstutenadressetilleggsnavn":"Ulefossvegen
        32","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.19655687871739,"lon":9.603458804523862},"oppdateringsdato":"2024-01-01T00:00:00"},{"adressenavn":"Ulefossvegen","adressetekst":"Ulefossvegen
        343","adressetilleggsnavn":null,"adressekode":87600,"nummer":343,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":214,"bruksnummer":32,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3729","adressetekstutenadressetilleggsnavn":"Ulefossvegen
        343","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.18399962624449,"lon":9.545033748048768},"oppdateringsdato":"2024-01-01T00:00:00"},{"adressenavn":"Ulefossvegen","adressetekst":"Ulefossvegen
        561","adressetilleggsnavn":null,"adressekode":87600,"nummer":561,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":211,"bruksnummer":32,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3729","adressetekstutenadressetilleggsnavn":"Ulefossvegen
        561","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.18254663345949,"lon":9.499881224835413},"oppdateringsdato":"2024-01-01T00:00:00"}]}

        '
  recorded_at: Thu, 11 Jan 2024 09:50:16 GMT
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&postnummer=3730&side=0&sok=Ulefossvegen%2032&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"asciiKompatibel":true,"totaltAntallTreff":1,"viserTil":10,"sokeStreng":"asciiKompatibel=true&postnummer=3730&side=0&sok=Ulefossvegen+32&treffPerSide=10&utkoordsys=4258","viserFra":0,"side":0,"treffPerSide":10},"adresser":[{"adressenavn":"Ulefossvegen","adressetekst":"Ulefossvegen
        32","adressetilleggsnavn":null,"adressekode":87600,"nummer":32,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":300,"bruksnummer":4073,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3730","adressetekstutenadressetilleggsnavn":"Ulefossvegen
        32","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.19655687871739,"lon":9.603458804523862},"oppdateringsdato":"2024-01-01T00:00:00"}]}

        '
  recorded_at: Thu, 11 Jan 2024 09:50:17 GMT
- request:
    method: get
    uri: https://ws.geonorge.no/adresser/v1/sok?asciiKompatibel=true&postnummer=3730&side=0&sok=Ulefossvegen%2032&treffPerSide=10&utkoordsys=4258
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"side":0,"viserTil":10,"totaltAntallTreff":1,"asciiKompatibel":true,"viserFra":0,"sokeStreng":"asciiKompatibel=true&postnummer=3730&side=0&sok=Ulefossvegen+32&treffPerSide=10&utkoordsys=4258","treffPerSide":10},"adresser":[{"adressenavn":"Ulefossvegen","adressetekst":"Ulefossvegen
        32","adressetilleggsnavn":null,"adressekode":87600,"nummer":32,"bokstav":"","kommunenummer":"4003","kommunenavn":"SKIEN","gardsnummer":300,"bruksnummer":4073,"festenummer":0,"undernummer":null,"bruksenhetsnummer":[],"objtype":"Vegadresse","poststed":"SKIEN","postnummer":"3730","adressetekstutenadressetilleggsnavn":"Ulefossvegen
        32","stedfestingverifisert":false,"representasjonspunkt":{"epsg":"EPSG:4258","lat":59.19655687871739,"lon":9.603458804523862},"oppdateringsdato":"2024-01-01T00:00:00"}]}

        '
  recorded_at: Thu, 11 Jan 2024 09:50:17 GMT
recorded_with: VCR 6.0.0
